body {
  background-color: ;
  color: ;
}
.list {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* maincolor: ; */
/* second color: ; */
/* color: ; */
/* footer color: ; */
/* background: ; */
/* 2 background: ; */

/* .logo {
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
/* site-nav */
/* .site-nav .link {
  color: #2e2f42;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #404bbf;
}
.address-nav .address {
  color: #434455;
}
.address-nav .address:hover,
.address-nav .address:focus {
  color: #404bbf;
}
/* menu */
/* .menu-link {
  color: #4d5ae5;
}
.menu-link {
  color: #ffffff;
} */
